body {
    min-height: 400px;
    font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simhei,"黑体";
}

.navbar-static-top {
    margin-bottom: 19px;
}

.bs-blue-nav {
    height: 80px;
    margin-bottom: 30px;
    width: 100%;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .15);
    background-color: #0C8DF1;
    border-top: 1px solid #258bd6;
    border-bottom: #258bd6
    box-shadow: 0 2px 4px #ddd;
    -moz-box-shadow: 0 2px 4px #ddd;
    -webkit-box-shadow: 0 2px 4px #ddd;
    color: #ffffff;
}

#top-bar {
    float: right;
    padding: 32px 5px 0 0;
    font-size: 14px;
}

.nav-list li {
    list-style: none;
    display: inline-block;
    margin-right: 42px;
}

.nav-list li:hover {
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.nav-item > a,.nav-item .dropdown>a{color: white;}
.nav-item .dropdown .dropdown-menu .glyphicon{margin-right: 10px;}
.btn-grey {
    color: #fff;
    background-color: #393D44;
    border-color: #393D44;
}